*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  margin: 0;
  background-color: black;
  background-image: url("./santa.jpg");
  background-size: 600px;
  background-position: center 60px;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 60px;
  background-color: #d44f4f;
  padding-top: 7px;
}

.container {
  width: 100%;
  padding: 30px 30px 50px 30px;
  margin-top: 360px;
  background-image: linear-gradient(
    0deg,
    black 0%,
    black 65%,
    transparent 100%
  );
}

.popup {
  display: none;
}

h1 {
  font-family: "Dancing Script", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: white;
  text-align: center;
  margin: 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
}
.bold {
  font-size: 20px;
  font-weight: 500;
}

input,
textarea,
select {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
}

input:focus {
  outline: 4px solid #c74343;
}

.button {
  padding: 20px 40px;
  margin-top: 10px;
  background-color: #d44f4f;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  margin-left: calc(100% - 200px);
}

.loading .button,
.error .button {
  margin-left: initial;
}

.copy-button {
  width: 300px;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #473e3e;
}

.result > .container {
  text-align: center;
}

#resultContainer {
  font-style: italic;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
}
#resultContainer > p {
  margin: 0;
}
.result > p {
  color: black;
}
.result #progress {
  display: none;
}
.flake {
  width: 40px;
  display: block;
  margin: 20px auto;
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#printedLetterButton {
  width: 100%;
  max-width: 360px;
}
#progress {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #d44f4f;
  height: 20px;
  width: 0;
  transition: width 1s;
}

#error,
#loading {
  text-align: center;
}

#error > .container,
#loading > .container {
  position: absolute;
  bottom: 0;
}

.medium {
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 40px auto;
}
.small {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}
.set-image {
  width: 100%;
  max-width: 400px;
}
.designs {
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 0 auto;
}
.designs > input {
  display: none;
}
.design1,
.design2 {
  width: 50%;
  margin: 20px;
}
.design1 > img,
.design2 > img {
  width: 100%;
}

.designs .small {
  visibility: hidden;
}

.design1 {
  transform: rotate(-3deg) scale(0.8) translateY(10px);
  transition: transform 600ms, box-shadow 600ms;
  box-shadow: 0 0 10px;
  opacity: 1;
}

.design2 {
  transform: rotate(6deg) scale(0.8) translateY(0px);
  transition: all 600ms;
  box-shadow: 0 0 10px;
  opacity: 1;
}

#design-1:checked + .design1 > img,
#design-2:checked + .design2 > img {
  outline: 8px solid white;
}

#design-1:checked + .design1 > .small,
#design-2:checked + .design2 > .small {
  visibility: visible;
}

#step-1,
#step-2,
#step-3,
#step-4,
#loading,
#error,
#result {
  display: none;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.step-1 #step-1,
.step-2 #step-2,
.step-3 #step-3,
.step-4 #step-4,
.loading #loading,
.error #error,
.result #result {
  display: block;
}

#result .button {
  margin: 0 auto;
  float: initial;
  text-decoration: none;
}

footer {
  padding-top: 80px;
}

footer p {
  font-size: 14px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:visited {
  color: rgb(164, 164, 164);
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  display: none;
  justify-content: center;
  align-items: start;
  overflow-y: scroll;
}

.popup-content {
  width: 100%;
  padding: 40px;
  max-width: 500px;
}

.popup-content p {
  color: white;
}

@media screen and (min-width: 600px) {
  body {
    background-size: 1024px;
    background-position: center 0px;
  }

  #resultContainer {
    padding: 40px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 1440px;
    background-position: center -90px;
  }
}

@media screen and (min-height: 1200px) {
  .step-1 .container {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-height: 800px) {
  .step-2 .container,
  .step-3 .container,
  .step-4 .container,
  .loading .container,
  .error .container {
    position: absolute;
    bottom: 0;
  }

  .popup {
    align-items: center;
    overflow-y: auto;
  }
}
